h1 {
   margin-top: 0;
   color: coral;
   text-align: center;
}

p {
   color: black;
   margin: 0 auto;
   font-family: monospace;
   text-decoration: underline;
}

ul, a {
  color: black; 
}

ul {
   list-style: none;
}

footer {
   background-color: aliceblue;
}